@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@layer base {
    h1 {
        @apply text-3xl font-semibold md:text-5xl;
    }
  
    h2 {
        @apply text-2xl font-semibold md:text-4xl;
    }
  
    h3 {
        @apply text-xl font-semibold md:text-3xl;
    }
  
    h4 {
        @apply text-lg font-semibold md:text-xl;
    }

    p {
        @apply font-pop
    }

    b {
        @apply font-semibold
    }
}

.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
