@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@layer base {
    h1 {
        @apply text-3xl font-semibold md:text-5xl;
    }
  
    h2 {
        @apply text-2xl font-semibold md:text-4xl;
    }
  
    h3 {
        @apply text-xl font-semibold md:text-3xl;
    }
  
    h4 {
        @apply text-lg font-semibold md:text-xl;
    }

    p {
        @apply font-pop
    }

    b {
        @apply font-semibold
    }
}

.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.card-zoom {
    @apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl w-60 h-auto rounded-xl;
}

.card-zoom-image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out bg-center bg-cover;
}

.card-zoom-text {
    @apply absolute text-5xl font-black transition-all duration-500 ease-in-out scale-150 text-gray-50 opacity-60;
}

.card-zoom:hover .card-zoom-image {
    @apply scale-150;
}

.card-zoom:hover .card-zoom-text {
    @apply scale-100;
}
